@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

* {
    font-family: "Bagel Fat One", system-ui;
}

#lion{
    font-size: 120px;
}

#introduction {
    text-align: center;
    font-size: 50px;
   
}

#title {
    text-align:center;
    font-size: 70px;
}

#container{
    width: 65%; 
    margin: auto;
}
/* %는 부모에 비해 얼만큼을 차지하느냐 
    margin: auto는 가운데로 보내줌 .. 알아서 조정 
    이미지도 text-align으로 인식됨 */

body{
    background-color: rgb(235, 218, 113);
}

img{
    height: 380px;
    margin-left: 30%;
    margin-right: 50px;
    float:left;
    border-radius: 30px;

}

.description{
    display: inline-block; 
    font-size: 32px;

}

section{
    margin: 100px;
    border: 13px ridge rgb(63, 46, 20);
    border-radius: 50px;
    padding: 120px;
    background-color: rgba(255, 255, 255, 0.495);
}

a{
    text-decoration: none;
}

#recipe_introduction{
    text-align: center;
    font-size: 80px;
}

.subtitle{
    font-size: 62px;
}

#recipe_description{
    font-size: 40px;
    display: inline-block;
    margin-left: 25%;
    margin-right: 60px;
}

#recipe_section{
    margin: auto;
    margin: 100px;
    border: 13px ridge rgb(63, 46, 20);
    border-radius: 50px;
    padding: 100px;
    background-color: rgba(255, 255, 255, 0.495);
}

#recipe_img{
    margin-left: 9%   
}

#sub{
    color: rgb(215, 16, 16);
}